/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #F2F2F2;
  border-radius: 2px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #BDBDBD;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #A19C9C;
}